@charset "UTF-8";

@font-face {
  font-family: 'Source Han Sans-Bold';
  src: url('SourceHanSansCN-Bold.ttf');
}
@font-face {
  font-family: 'Source Han Sans-Medium';
  src: url('SourceHanSansCN-Medium.ttf');
}
@font-face {
  font-family: 'Source Han Sans-Regular';
  src: url('SourceHanSansCN-Regular.ttf');
}